name: Package on Tag

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools

    - name: Zip the repository
      run: |
        TAG_NAME=${GITHUB_REF#refs/tags/}
        REPO_NAME=$(echo ${{ github.repository }} | sed 's/.*\///')
        ZIP_NAME="${REPO_NAME}-${TAG_NAME}.ocmod.zip"
        zip -r $ZIP_NAME .

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_FA }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload ZIP to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_FA }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./${ZIP_NAME}
        asset_name: ${ZIP_NAME}
        asset_content_type: application/zip
